
<head>
    <title>Footer Design</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/stylefooter.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

</head>


<footer class="footer">


    <div class="container">

            

        <div class="row">
            <div class="footer-col">
                <h4><i class="ri-home-8-line"></i> institución</h4>
                <ul>
                    <img src="~/images/logo1.png" class="logos" alt="Logo">
                </ul>
            </div>
            <div class="footer-col">
                <h4><i class="ri-map-pin-line"></i> Ubicación</h4>
                <ul class="text-white">
                    <li>
                            Ciudad de los Niños
                            7073 Agua Caliente de Cartago, Cartago, Cartago 223
                    </li>
                </ul>
            </div>
            <div class="footer-col">
                <h4><i class="ri-customer-service-2-line"></i> Teléfono</h4>
                <ul class="text-white">
                    <li><a> (506) 2552-9600</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4><i class="ri-arrow-down-circle-line"></i> follow us</h4>
                <div class="social-links">
                    <a href="https://www.facebook.com/ciudaddelosninoscr"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://twitter.com/Ciudad_Ninos_CR"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/ciudaddelosninos58/"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.youtube.com/c/CiudaddelosNi%C3%B1os"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>

