@model API_Ciudad_De_Los_Ninos.Models.User

@{
    Layout = null;
    ViewData["Title"] = "Crear Usuario";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Crear Usuario</title>
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css">
    <style>
        /* Estilos CSS para la página */
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
        }

        .container-main {
            background-color: #ffffff;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            margin: 20px auto;
            max-width: 800px;
            overflow: hidden;
        }

        .form-group {
            margin-bottom: 15px;
        }

            .form-group label {
                font-weight: bold;
                color: #333;
                margin-bottom: 10px;
                display: block;
            }

        .form-control {
            padding: 8px;
            font-size: 14px;
            border: 1px solid #ccc;
            border-radius: 4px;
            width: 100%;
        }

        .create-button {
            display: inline-block;
            padding: 10px 20px;
            font-size: 1.2em;
            color: white;
            background-color: #007bff;
            border: none;
            border-radius: 5px;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            margin-right: 10px;
        }

            .create-button:hover {
                background-color: #0056b3;
            }

        .text-danger {
            color: #dc3545;
        }

        .back-button {
            display: inline-block;
            padding: 10px 20px;
            font-size: 1em;
            color: white;
            background-color: #007bff;
            border: none;
            border-radius: 5px;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            margin-top: 20px;
        }

            .back-button:hover {
                background-color: #0056b3;
            }
    </style>
</head>
<body>
    @Html.Partial("_header")
    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.ErrorMessage
        </div>
    }

    <div class="container-main">
        <h4 class="text-center">Crear Usuario</h4>
        <hr />
        <form asp-action="Create">
            <div class="row mb-3">
                <label for="nombre_usuario" class="col-sm-2 col-form-label">Nombre de Usuario</label>
                <div class="col-sm-10">
                    <input asp-for="nombre_usuario" class="form-control" />
                    <span asp-validation-for="nombre_usuario" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="contraseña" class="col-sm-2 col-form-label">Contraseña</label>
                <div class="col-sm-10">
                    <input asp-for="contraseña" class="form-control" />
                    <span asp-validation-for="contraseña" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="id_rol" class="col-sm-2 col-form-label">Rol</label>
                <div class="col-sm-10">
                    <select asp-for="id_rol" class="form-select" asp-items="ViewBag.Roles">
                        <option value="">Seleccione...</option>
                    </select>
                    <span asp-validation-for="id_rol" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
                <div class="col-sm-10">
                    <input asp-for="nombre" class="form-control" />
                    <span asp-validation-for="nombre" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="apellidos" class="col-sm-2 col-form-label">Apellidos</label>
                <div class="col-sm-10">
                    <input asp-for="apellidos" class="form-control" />
                    <span asp-validation-for="apellidos" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="correo" class="col-sm-2 col-form-label">Correo Electrónico</label>
                <div class="col-sm-10">
                    <input asp-for="correo" class="form-control" />
                    <span asp-validation-for="correo" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="fecha_nacimiento" class="col-sm-2 col-form-label">Fecha de Nacimiento</label>
                <div class="col-sm-10">
                    <input asp-for="fecha_nacimiento" class="form-control" type="date" />
                    <span asp-validation-for="fecha_nacimiento" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="cedula" class="col-sm-2 col-form-label">Cédula</label>
                <div class="col-sm-10">
                    <input asp-for="cedula" class="form-control" />
                    <span asp-validation-for="cedula" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-10 offset-sm-2">
                    <button type="submit" class="btn btn-primary">Crear</button>
                </div>
            </div>
        </form>
        <div class="row mt-3">
            <div class="col text-end">
                <a asp-action="Index" class="btn btn-secondary">
                    <i class="ri-arrow-left-circle-line"></i> Volver atrás
                </a>
            </div>
        </div>
    </div>

    @Html.Partial("_footer")

    <!-- Scripts -->
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/plugins.js"></script>
    <script src="~/js/script.js"></script>
</body>
</html>
