@model API_Ciudad_De_Los_Ninos.Models.User

@{
    var roles = ViewData["Roles"] as SelectList;
    var roleName = roles.FirstOrDefault(r => r.Value == Model.id_rol.ToString())?.Text;
}

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.nombre_usuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nombre_usuario)
        </dd>
        <dt class="col-sm-2">
            Rol
        </dt>
        <dd class="col-sm-10">
            @roleName
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
