dopaje
@{
    ViewData["Title"] = "Dopaje";
}

<!DOCTYPE html>
<html>
<head>
    <style>

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 50px;
        }

        .pie-chart {
            width: 300px;
            height: 300px;
            position: relative;
            border-radius: 50%;
            background-color: #f2f2f2;
        }

        .slice {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            clip-path: polygon(50% 50%, 100% 50%, 100% 0);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 10px;
            font-weight: bold;
            color: #ffffff;
        }

            .slice::before {
                content: attr(data-value) '%';
            }

            /* Colores para los segmentos del gráfico de pie */
            .slice:nth-child(1) {
                background-color: #ff5733;
                transform: rotate(0deg);
            }

            .slice:nth-child(2) {
                background-color: #33ff57;
                transform: rotate(36deg);
            }

            .slice:nth-child(3) {
                background-color: #5733ff;
                transform: rotate(72deg);
            }

            .slice:nth-child(4) {
                background-color: #ff33a8;
                transform: rotate(108deg);
            }

            .slice:nth-child(5) {
                background-color: #33a8ff;
                transform: rotate(144deg);
            }

            .slice:nth-child(6) {
                background-color: #a8ff33;
                transform: rotate(180deg);
            }

            .slice:nth-child(7) {
                background-color: #ffcc33;
                transform: rotate(216deg);
            }

            .slice:nth-child(8) {
                background-color: #a833ff;
                transform: rotate(252deg);
            }

            .slice:nth-child(9) {
                background-color: #33ffcc;
                transform: rotate(288deg);
            }

            .slice:nth-child(10) {
                background-color: #ff3333;
                transform: rotate(324deg);
            }

        .legend {
            font-size: 14px;
        }

            .legend ul, .percentages ul {
                list-style-type: none;
                padding: 0;
            }

            .legend li, .percentages li {
                margin-bottom: 10px;
            }

        .legend-color {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-right: 10px;
            vertical-align: middle;
        }

        .percentages {
            margin-top: 20px;
        }

            .percentages ul {
    </style>

</head>
<body>
    @Html.Partial("_header")
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">



        <div class="container">
            <div class="pie-chart">
                <div class="slice" data-value="100"></div>
                <div class="slice" data-value="15"></div>
                <div class="slice" data-value="10"></div>
                <div class="slice" data-value="20"></div>
                <div class="slice" data-value="5"></div>
                <div class="slice" data-value="12"></div>
                <div class="slice" data-value="8"></div>
                <div class="slice" data-value="7"></div>
                <div class="slice" data-value="18"></div>
                <div class="slice" data-value="5"></div>
            </div>

            <div class="legend">
                <ul>
                    <li><span class="legend-color" style="background-color: #ff5733;"></span>Pruebas Existentes Totales</li>
                    <li><span class="legend-color" style="background-color: #33ff57;"></span>Pruebas Pendientes</li>
                    <li><span class="legend-color" style="background-color: #5733ff;"></span>Pruebas realizadas a niños menores de edad</li>
                    <li><span class="legend-color" style="background-color: #ff33a8;"></span>Pruebas realizadas a niñas menores de edad</li>
                    <li><span class="legend-color" style="background-color: #33a8ff;"></span>Pruebas realizadas a los nuevos integrantes</li>
                    <li><span class="legend-color" style="background-color: #a8ff33;"></span>Pruebas realizadas a adolecentes</li>
                    <li><span class="legend-color" style="background-color: #ffcc33;"></span>Segundas pruebas realizadas</li>
                    <li><span class="legend-color" style="background-color: #a833ff;"></span>Pruebas que quedaron sin usar</li>
                    <li><span class="legend-color" style="background-color: #33ffcc;"></span>Resultados entregados a los menores</li>
                    <li><span class="legend-color" style="background-color: #ff3333;"></span>Pruebas realizadas a los niños en foco de peligro de salud</li>
                </ul>
            </div>

            <div class="percentages">
                <ul>
                    <li>100%</li>
                    <li>15%</li>
                    <li>10%</li>
                    <li>20%</li>
                    <li>5%</li>
                    <li>12%</li>
                    <li>8%</li>
                    <li>7%</li>
                    <li>18%</li>
                    <li>5%</li>
                </ul>
            </div>
        </div>


        @Html.Partial("_footer")
        <script src="js/jquery-1.11.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
        <script type="text/javascript" src="~/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="~/js/plugins.js"></script>
        <script type="text/javascript" src="~/js/script.js"></script>
</body>
</html>

