@{
    ViewData["Title"] = "MapaResidencias";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>MapaAlbergue</title>
    <link rel="stylesheet" href="styles.css">


    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .map-link {
            padding: 20px;
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            text-align: center;
            margin: 50px auto;
            max-width: 600px;
        }

            .map-link img {
                margin-top: 20px;
                max-width: 100%;
                border-radius: 8px;
            }

            .map-link a {
                display: inline-block;
                text-decoration: none;
                color: #333333;
                font-size: 18px;
                font-weight: bold;
                padding: 15px 30px;
                border: 2px solid #007BFF;
                border-radius: 5px;
                transition: background-color 0.3s ease, color 0.3s ease;
                margin-top: 15px;
            }

                .map-link a:hover {
                    background-color: #007BFF;
                    color: #ffffff;
                }

        /* Estilos para el header y footer (suponiendo que estás usando Bootstrap) */
        #header, #footer {
            background-color: #333;
            color: #fff;
            padding: 10px 0;
            text-align: center;
        }

            #header, #footer a {
                color: #fff;
                text-decoration: none;
            }

        #header {
            margin-bottom: 50px;
        }

        #footer {
            margin-top: 50px;
        }

    </style>

</head>
<body>
    @Html.Partial("_header")
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">


        <div class="map-link">
            <img src="~/images/residencia.jpg" alt="Albergue de Ciudad de Niños">

            <a href="https://www.google.com/maps?q=Ciudad+de+los+Niños,+Costa+Rica" target="_blank">
                Ver dirección oficial de Ciudad de Niños
            </a>
        </div>


        @Html.Partial("_footer")
        <script src="js/jquery-1.11.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
        <script type="text/javascript" src="~/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="~/js/plugins.js"></script>
        <script type="text/javascript" src="~/js/script.js"></script>
</body>
</html>