@model API_Ciudad_De_Los_Ninos.Models.Pruebas_Dopaje

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Crear Prueba de Dopaje</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
        }

        h4 {
            color: red;
            font-size: 24px;
            margin-bottom: 20px;
        }

        .row {
            display: flex;
            flex-wrap: wrap;
        }

        .col-md-4 {
            flex: 0 0 33.33%;
            max-width: 33.33%;
            padding: 10px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-control {
            width: 100%;
            padding: 8px;
            font-size: 14px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .create-button {
            display: inline-block;
            padding: 10px 20px;
            font-size: 1.2em;
            color: white;
            background-color: #007bff;
            border: none;
            border-radius: 5px;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            margin-right: 10px;
        }

            .create-button:hover {
                background-color: #0056b3;
            }
    </style>
</head>
<body>
    <!-- Contenido del encabezado -->
    @Html.Partial("_header")

    <!-- Contenido principal -->
    <div class="container">
        <h4>Ingreso de Pruebas de Dopaje</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create" style="font-size: 15px;color:black;">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="id_usuario" class="control-label">ID Usuario</label>
                        <input asp-for="id_usuario" class="form-control" />
                        <span asp-validation-for="id_usuario" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="id_joven" class="control-label">ID Joven</label>
                        <input asp-for="id_joven" class="form-control" />
                        <span asp-validation-for="id_joven" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="fecha_hora" class="control-label">Fecha y Hora</label>
                        <input asp-for="fecha_hora" class="form-control" />
                        <span asp-validation-for="fecha_hora" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="lugar" class="control-label">Lugar</label>
                        <input asp-for="lugar" class="form-control" />
                        <span asp-validation-for="lugar" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="resultado" class="control-label"></label>
                        <select asp-for="resultado" class="form-control">
                            <option value="">Seleccione...</option>
                            <option value="Positivo">Positivo</option>
                            <option value="Negativo">Negativo</option>
                        </select>
                        <span asp-validation-for="resultado" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="observaciones" class="control-label"></label>
                        <input asp-for="observaciones" class="form-control" />
                        <span asp-validation-for="observaciones" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <input type="submit" value="Ingresar Prueba de Dopaje" class="create-button" />
                    </div>
                </form>
            </div>
        </div>
        <!-- Volver atrás -->
        <div>
            <a asp-action="Index" class="create-button">Volver atrás</a>
        </div>
    </div>

    <!-- Scripts -->
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }

    <!-- Footer -->
    @Html.Partial("_footer")

    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/plugins.js"></script>
    <script src="~/js/script.js"></script>
</body>
</html>
