
@{
    ViewData["Title"] = "Guardar";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guardado</title>
    <style>
        .card {
            text-align: center;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            background-color: #f3f3f3;
            width: 300px;
            margin: auto;
            margin-top: 50px;
        }

        .checkmark {
            font-size: 100px;
            color: green;
        }

        button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            margin: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
            font-size: 16px;
        }

            button:hover {
                background-color: #45a049;
            }
    </style>
</head>
<body>
    <div class="card">
        <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
            <i class="checkmark">✓</i>
        </div>
        <h1>Guardado</h1>
        <p>Los datos se han guardado con éxito</p>
        <button onclick="history.go(-1);">Volver</button>
    </div>
</body>
</html>
