@model List<Proyecto_Ciudad_De_Los_Ninos.Models.Tickete>

<h2>Factura de Compra</h2>
<table>
    <thead>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio Unitario</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                <tr>
                    <td>@item.inventario_Higiene_Personal.nombre_producto</td>
                    <td>@item.tickete</td>
                    <td>$@item.inventario_Higiene_Personal.precio_unitario</td>
                    <td>$@(item.inventario_Higiene_Personal.precio_unitario * item.tickete)</td>
                </tr>
        }
        <tr>
            <td colspan="3" style="text-align: right;"><strong>Total:</strong></td>
            <td>$@Model.Sum(t => t.inventario_Higiene_Personal.precio_unitario * t.tickete)</td>
        </tr>
    </tbody>
</table>
