@{
    ViewData["Title"] = "Pruebas de Dopaje";
}

<!DOCTYPE html>
<html>
<head>
</head>
<body>
    @Html.Partial("_header")
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <style>
            /* Estilos CSS para la página */
            .form-container {
                width: 50%;
                margin: 50px auto;
                padding: 20px;
                border: 1px solid #ddd;
                border-radius: 8px;
                background-color: #f9f9f9;
            }

            .form-group {
                margin-bottom: 20px;
            }

                .form-group label {
                    display: block;
                    font-weight: bold;
                }

                .form-group input[type="text"],
                .form-group input[type="number"],
                .form-group input[type="date"] {
                    width: calc(100% - 10px);
                    padding: 8px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                }

                .form-group button {
                    padding: 10px 20px;
                    background-color: #E6282A;
                    color: white;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                }

                    .form-group button:hover {
                        background-color: #b21d20;
                    }

            .delete-message {
                color: #E6282A;
                font-weight: bold;
                margin-top: 10px;
                display: none;
            }
        </style>

        <div class="form-container">
            <h2>Ingresar Prueba de Dopaje</h2>
            <form action="/home/Guardar" method="post">
                <div class="form-group">
                    <label for="id">ID:</label>
                    <input type="text" id="id" name="id" required>
                </div>
                <div class="form-group">
                    <label for="id_usuario">ID del Usuario:</label>
                    <input type="text" id="id_usuario" name="id_usuario" required>
                </div>
                <div class="form-group">
                    <label for="id_joven">ID del Joven:</label>
                    <input type="text" id="id_joven" name="id_joven" required>
                </div>
                <div class="form-group">
                    <label for="fecha_hora">Fecha y Hora de la Prueba:</label>
                    <input type="datetime-local" id="fecha_hora" name="fecha_hora" required>
                </div>
                <div class="form-group">
                    <label for="lugar">Lugar de la Prueba:</label>
                    <input type="text" id="lugar" name="lugar" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="button-agregar-prueba" style="display: block; margin: auto;">Agregar Prueba de Dopaje</button>
                </div>
            </form>
        </div>



        @Html.Partial("_footer")
        <script src="js/jquery-1.11.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
        <script type="text/javascript" src="~/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="~/js/plugins.js"></script>
        <script type="text/javascript" src="~/js/script.js"></script>
</body>
</html>
