@model API_Ciudad_De_Los_Ninos.Models.Jovenes

@{
    ViewData["Title"] = "Editar Joven";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css">
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
        }

        h4 {
            color: #333;
            font-size: 24px;
            margin-bottom: 20px;
        }

        .container-main {
            background-color: #ffffff;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            margin: 21px auto;
            max-width: 800px;
            overflow: hidden;
        }

        .form-group {
            margin-bottom: 15px;
        }

            .form-group label {
                font-weight: bold;
                color: #333;
                margin-bottom: 10px;
                display: block;
            }

        .form-control {
            padding: 8px;
            font-size: 14px;
            border: 1px solid #ccc;
            border-radius: 4px;
            width: 100%;
        }

        .edit-button {
            display: inline-block;
            padding: 10px 20px;
            font-size: 1.2em;
            color: white;
            background-color: #007bff;
            border: none;
            border-radius: 5px;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            margin-right: 10px;
        }

            .edit-button:hover {
                background-color: #0056b3;
            }
    </style>
</head>
<body>

    @Html.Partial("_header")

    <div class="container-main">
        <h4 class="text-center">Editando Joven</h4>
        <hr />
        <form asp-action="Edit">
            <input type="hidden" asp-for="Id" />
            <div class="row mb-3">
                <label for="cedula" class="col-sm-2 col-form-label">Cédula</label>
                <div class="col-sm-10">
                    <input asp-for="cedula" class="form-control" />
                    <span asp-validation-for="cedula" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
                <div class="col-sm-10">
                    <input asp-for="nombre" class="form-control" />
                    <span asp-validation-for="nombre" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="edad" class="col-sm-2 col-form-label">Edad</label>
                <div class="col-sm-10">
                    <input asp-for="edad" class="form-control" />
                    <span asp-validation-for="edad" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="direccion" class="col-sm-2 col-form-label">Dirección</label>
                <div class="col-sm-10">
                    <input asp-for="direccion" class="form-control" />
                    <span asp-validation-for="direccion" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="telefono_contacto" class="col-sm-2 col-form-label">Teléfono de Contacto</label>
                <div class="col-sm-10">
                    <input asp-for="telefono_contacto" class="form-control" />
                    <span asp-validation-for="telefono_contacto" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-warning" />
                </div>
            </div>
        </form>
        <div class="row mt-3">
            <div class="col text-end">
                <a asp-action="Index" class="btn btn-secondary"><i class="ri-arrow-left-circle-line"></i> Volver atrás</a>
            </div>
        </div>
    </div>

    @Html.Partial("_footer")

    <!-- Scripts -->
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/plugins.js"></script>
    <script src="~/js/script.js"></script>

</body>
</html>
