@{
    ViewData["Title"] = "Alimentos";
}

<body>
    @Html.Partial("_header")
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">

        <style>
            .custom-table {
                width: 80%;
                margin: 0 auto;
                border-collapse: collapse;
                border: 1px solid #ddd;
                font-family: Arial, sans-serif;
            }

                .custom-table th, .custom-table td {
                    border: 1px solid #ddd;
                    padding: 10px;
                    text-align: center;
                }

                .custom-table th {
                    background-color: #f2f2f2;
                    font-weight: bold;
                }

                    .custom-table th:first-child, .custom-table td:first-child {
                        text-align: left;
                    }

                .custom-table tr:nth-child(even) {
                    background-color: #f2f2f2;
                }

                .custom-table tr:hover {
                    background-color: #ddd;
                }

            .button-agregar-nuevo {
                display: block;
                margin: auto;
                padding: 10px 20px;
                background-color: #E6282A; /* Color modificado */
                color: white;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                margin-bottom: 20px; /* Espacio entre el botón y la tabla */
            }

                .button-agregar-nuevo:hover {
                    background-color: #b21d20; 
                }

            .button-editar, .button-eliminar, .button-agregar {
                padding: 8px 16px;
                background-color: #E6282A;  
                color: white;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                margin-right: 5px;
            }

                .button-editar:hover, .button-eliminar:hover, .button-agregar:hover {
                    background-color: #b21d20; 
                }
        </style>

        <h1 style="text-align: center;">Sección de Alimentos</h1>
        <button class="button-agregar-nuevo" onclick="agregarProducto()" style="display: block; margin: auto;">Agregar Nuevo Producto</button>


        <h2 style="text-align: center;">Listado de Alimentos:</h2>
        <table class="custom-table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>Fecha de Compra</th>
                    <th>Precio por Unidad</th>
                    <th>Proveedor</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Arroz</td>
                    <td>10 kg</td>
                    <td>2024-04-01</td>
                    <td>$2.50</td>
                    <td>Proveedor A</td>
                    <td>
                        <button class="button-editar" onclick="editarProducto(1)">Editar</button>
                        <button class="button-eliminar" onclick="eliminarProducto()">Eliminar</button>
                    </td>
                </tr>
                <tr>
                    <td>Frijoles</td>
                    <td>5 kg</td>
                    <td>2024-03-29</td>
                    <td>$1.80</td>
                    <td>Proveedor B</td>
                    <td>
                        <button class="button-editar" onclick="editarProducto(2)">Editar</button>
                        <button class="button-eliminar" onclick="eliminarProducto()">Eliminar</button>
                    </td>
                </tr>
                <tr>
                    <td>Pasta</td>
                    <td>3 kg</td>
                    <td>2024-04-02</td>
                    <td>$1.20</td>
                    <td>Proveedor C</td>
                    <td>
                        <button class="button-editar" onclick="editarProducto(3)">Editar</button>
                        <button class="button-eliminar" onclick="eliminarProducto()">Eliminar</button>
                    </td>
                </tr>
                <tr>
                    <td>Leche</td>
                    <td>6 litros</td>
                    <td>2024-03-30</td>
                    <td>$2.00</td>
                    <td>Proveedor D</td>
                    <td>
                        <button class="button-editar" onclick="editarProducto(4)">Editar</button>
                        <button class="button-eliminar" onclick="eliminarProducto()">Eliminar</button>
                    </td>
                </tr>
                <tr>
                    <td>Huevos</td>
                    <td>1 docena</td>
                    <td>2024-04-03</td>
                    <td>$3.50</td>
                    <td>Proveedor E</td>
                    <td>
                        <button class="button-editar" onclick="editarProducto(5)">Editar</button>
                        <button class="button-eliminar" onclick="eliminarProducto()">Eliminar</button>
                    </td>
                </tr>
                <tr>
                    <td>Pollo</td>
                    <td>2 kg</td>
                    <td>2024-03-31</td>
                    <td>$5.00</td>
                    <td>Proveedor F</td>
                    <td>
                        <button class="button-editar" onclick="editarProducto(6)">Editar</button>
                        <button class="button-eliminar" onclick="eliminarProducto()">Eliminar</button>
                    </td>
                </tr>
                <tr>
                    <td>Atún en lata</td>
                    <td>3 unidades</td>
                    <td>2024-04-04</td>
                    <td>$1.75</td>
                    <td>Proveedor G</td>
                    <td>
                        <button class="button-editar" onclick="editarProducto(7)">Editar</button>
                        <button class="button-eliminar" onclick="eliminarProducto()">Eliminar</button>
                    </td>
                </tr>
                <tr>
                    <td>Manzanas</td>
                    <td>2 kg</td>
                    <td>2024-04-05</td>
                    <td>$2.25</td>
                    <td>Proveedor H</td>
                    <td>
                        <button class="button-editar" onclick="editarProducto(8)">Editar</button>
                        <button class="button-eliminar" onclick="eliminarProducto()">Eliminar</button>
                    </td>
                </tr>
                <tr>
                    <td>Tomates</td>
                    <td>1 kg</td>
                    <td>2024-04-06</td>
                    <td>$1.00</td>
                    <td>Proveedor I</td>
                    <td>
                        <button class="button-editar" onclick="editarProducto(9)">Editar</button>
                        <button class="button-eliminar" onclick="eliminarProducto()">Eliminar</button>
                    </td>
                </tr>
                <tr>
                    <td>Café</td>
                    <td>500 g</td>
                    <td>2024-04-07</td>
                    <td>$4.50</td>
                    <td>Proveedor J</td>
                    <td>
                        <button class="button-editar" onclick="editarProducto(10)">Editar</button>
                        <button class="button-eliminar" onclick="eliminarProducto()">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- Fin del cuerpo de la vista para alimentos -->
        @Html.Partial("_footer")
        <script src="js/jquery-1.11.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
        <script type="text/javascript" src="~/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="~/js/plugins.js"></script>
        <script type="text/javascript" src="~/js/script.js"></script>
        <script>
            function editarProducto(id) {
                // Redirige a la vista de edición pasando el ID del producto como parámetro en la URL
                window.location.href = "/AdministracionDeInventario/EditarProducto?id=" + id;
            }

            function eliminarProducto() {
                
                var confirmarEliminar = confirm("¿Estás seguro de que deseas eliminar este producto?");

                if (confirmarEliminar) {
                    
                    window.location.href = "/AdministracionDeInventario/EliminarProducto";
                } else {
                    // Si el usuario cancela la eliminación, no hagas nada
                    return false;
                }
            }

            function agregarMas() {
                // Lógica para agregar más del mismo producto
            }

            function agregarProducto() {
                window.location.href = "/AdministracionDeInventario/AgregarProducto"
            }
        </script>
</body>
