@model API_Ciudad_De_Los_Ninos.Models.Inventario_Comedor

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editar Inventario</title>
    <style>
        .form-group {
            margin-bottom: 15px;
        }

            .form-group label {
                font-size: 15px;
                color: #333;
            }

            .form-group input {
                width: 100%;
                padding: 10px;
                font-size: 15px;
                border: 1px solid #ccc;
                border-radius: 4px;
            }

            .form-group span {
                color: red;
                font-size: 12px;
            }

        .actions {
            margin-top: 20px;
        }

        .create-button {
            display: inline-block;
            padding: 10px 20px;
            font-size: 1.2em;
            color: white;
            background-color: #007bff;
            border: none;
            border-radius: 5px;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            margin-right: 10px;
        }

            .create-button:hover {
                background-color: #0056b3;
            }

        #footer {
            position: absolute;
            bottom: 0;
            width: 100%;
        }

        .img-preview {
            max-width: 200px;
            max-height: 200px;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <!-- Contenido del encabezado -->
    @Html.Partial("_header")

    <!-- Contenido principal -->
    <div class="container text-center">
        <h4>Editar Inventario</h4>
        <hr />
        <div class="row justify-content-center">
            <div class="col-md-10">
                <form asp-action="Edit" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label asp-for="nombre_alimento" class="col-sm-4 col-form-label text-right">Nombre del Alimento</label>
                                <div class="col-sm-8">
                                    <input asp-for="nombre_alimento" class="form-control" />
                                    <span asp-validation-for="nombre_alimento" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="cantidad_disponible" class="col-sm-4 col-form-label text-right">Cantidad Disponible</label>
                                <div class="col-sm-8">
                                    <input asp-for="cantidad_disponible" class="form-control" />
                                    <span asp-validation-for="cantidad_disponible" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="fecha_ultima_reposicion" class="col-sm-4 col-form-label text-right">Fecha de la última reposición</label>
                                <div class="col-sm-8">
                                    <input asp-for="fecha_ultima_reposicion" class="form-control" />
                                    <span asp-validation-for="fecha_ultima_reposicion" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label asp-for="proveedor" class="col-sm-4 col-form-label text-right">Proveedor</label>
                                <div class="col-sm-8">
                                    <input asp-for="proveedor" class="form-control" />
                                    <span asp-validation-for="proveedor" class="text-danger"></span>
                                </div>
                            </div>
                            @if (Model.imagen != null)
                            {
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Imagen Actual</label>
                                    <div class="col-sm-8">
                                        <img src="@Url.Action("GetImage", new { id = Model.Id })" class="img-preview" />
                                    </div>
                                </div>
                                <input type="hidden" name="imagen" value="@Convert.ToBase64String(Model.imagen)" />
                            }
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label text-right">Nueva Imagen (opcional)</label>
                                <div class="col-sm-8">
                                    <input type="file" name="newImagen" class="form-control" />
                                </div>
                                </br>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- Volver atrás -->
        <div class="text-right">
            <a asp-action="Index" class="btn btn-secondary">Volver atrás</a>
        </div>
    </div>
    <br/>
    <!-- Footer -->
    @Html.Partial("_footer")

    <!-- Scripts -->
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/plugins.js"></script>
    <script src="~/js/script.js"></script>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
</html>
