
svg {
    display: block;
    height: auto;
    width: 500px;
    color: #63a819
}

.circle {
    stroke-dasharray: 76;
    stroke-dashoffset: 76;
    animation: draw 1s forwards;
}

.tick {
    stroke-dasharray: 18;
    stroke-dashoffset: 18;
    animation: draw 1s forwards 1s;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0
    }
}








.containerP {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 10px;
}


.containerR {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
