@model API_Ciudad_De_Los_Ninos.Models.Citas
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Estilos personalizados */
        .form-container {
            width: 50%;
            margin: 50px auto;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 8px;
            background-color: #f9f9f9;
        }

        .form-group {
            margin-bottom: 20px;
        }

            .form-group label {
                font-weight: bold;
            }

            .form-group input[type="text"],
            .form-group input[type="date"],
            .form-group select {
                width: 100%;
                padding: 8px;
                border: 1px solid #ccc;
                border-radius: 4px;
            }

            .form-group button[type="submit"] {
                padding: 10px 20px;
                background-color: #007bff;
                color: white;
                border: none;
                border-radius: 4px;
                cursor: pointer;
            }

                .form-group button[type="submit"]:hover {
                    background-color: #0056b3;
                }

        .text-danger {
            color: #dc3545;
        }

        /* Estilos para el botón "Back to List" */
        .back-link {
            margin-top: 20px;
            display: inline-block;
            text-decoration: none;
            color: #007bff;
        }

            .back-link:hover {
                color: #0056b3;
            }
    </style>
</head>
<body>

    @Html.Partial("_header")

    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <style>
            /* Estilos CSS para la página */
            .form-container {
                width: 50%;
                margin: 50px auto;
                padding: 20px;
                border: 1px solid #ddd;
                border-radius: 8px;
                background-color: #f9f9f9;
            }

            .form-group {
                margin-bottom: 20px;
            }

                .form-group label {
                    display: block;
                    font-weight: bold;
                }

                .form-group input[type="text"],
                .form-group input[type="number"],
                .form-group input[type="date"] {
                    width: calc(100% - 10px);
                    padding: 8px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                }

                .form-group button {
                    padding: 10px 20px;
                    background-color: #E6282A;
                    color: white;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                }

                    .form-group button:hover {
                        background-color: #b21d20;
                    }

            .delete-message {
                color: #E6282A;
                font-weight: bold;
                margin-top: 10px;
                display: none;
            }
        </style>

        <div class="container">
            <h2>Editando Cita</h2>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-container">
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />
                            <div class="form-group">
                                <label asp-for="id_usuario" class="control-label">Usuario</label>
                                <select asp-for="id_usuario" class="form-control" asp-items="ViewBag.Users"></select>
                            </div>

                            <div class="form-group">
                                <label asp-for="id_joven" class="control-label">Jovenes</label>
                                <select asp-for="id_joven" class="form-control" asp-items="ViewBag.Jovenes"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="fecha" class="control-label">Fecha de la Cita:</label>
                                <input asp-for="fecha" class="form-control" />
                                <span asp-validation-for="fecha" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="tipo_usuario" class="control-label">Tipo de Usuario:</label>
                                <input asp-for="tipo_usuario" class="form-control" />
                                <span asp-validation-for="tipo_usuario" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="detalles" class="control-label">Detalles:</label>
                                <input asp-for="detalles" class="form-control" />
                                <span asp-validation-for="detalles" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                            <div>
                                <a asp-action="Index" class="back-link">Cancelar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
        </div>

        @Html.Partial("_footer")
        <script src="js/jquery-1.11.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
        <script type="text/javascript" src="~/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="~/js/plugins.js"></script>
        <script type="text/javascript" src="~/js/script.js"></script>

        @section Scripts {
            @{
                await Html.RenderPartialAsync("_ValidationScriptsPartial");
            }
        }


</body>
</html>